<title>修改登录密码</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>设置</cite></a>
        <a><cite>修改密码</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">修改密码</div>
                <div class="layui-card-body" pad15>
                    <div class="layui-form" lay-filter="change-passwd">
                        <div class="layui-form-item">
                            <label class="layui-form-label">当前密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="oldPassword" lay-verify="required|password" lay-verType="tips" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">新密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="newPassword" lay-verify="required|password" lay-verType="tips" autocomplete="off" id="LAY_password" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">6到16个字符</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">确认新密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="rePassword" lay-verify="required|rePassword" lay-verType="tips" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="changePwd">确认修改</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(["admin", "form"], function(){
        var $ = layui.$,
            admin = layui.admin,
            form = layui.form,
            layer = layui.layer;

        form.render(null, "change-passwd");
        form.verify({
            newPassword: [/^[\S]{6,16}$/, "密码必须6到16位，且不能出现空格"],
            rePassword: function(value) {
                var p1 = $("input[name='newPassword']").val();
                var p2 = $("input[name='rePassword']").val();
                if (p1 != p2) return "两次密码输入不一致!";
            }
        });

        //确认修改点击
        form.on("submit(changePwd)", function (obj) {
            admin.req({
                url: "/api/user/passwd",
                type: "POST",
                data: obj.field,
                done: function (res) {
                    layer.msg(
                        res.msg,
                        {
                            offset: "15px",
                            icon: 1,
                            time: 1000
                        },
                        function() {
                            admin.exit();
                        }
                    );
                }
            });
        });
    });
</script>